:root{
    --theam-background-primary-color:#fff;
    --search-box-width:250px;
    --search-box-hight:50px;
    --radius:10px;
    --border:1px solid lightgray;
    --background-padding:50px 30px;
    --theam-color-white:#fff;
    --text-width:500px;
    --theam-color-blue:#1d65c1;
    --theam-color-dark-blue:#1c2b33;
    --center:center;
    --color-light-color:lightgray;
    --color-grey:grey;
    
}
