@mixin flex {
    display: flex;
    gap: 20px;
    align-items: center;
}


@mixin flex-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

@mixin flex-space {
    display: flex;
    justify-content: space-between;
}

@mixin pointer {
    cursor: pointer;
}

@mixin button-center {
    display: flex;
    justify-content: center;
}

@mixin grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;

}

@mixin grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

@mixin grid-1-center {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;

}


@mixin grid-2-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;

}

@mixin grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@mixin underline {
    text-decoration: underline;
}