.button{
    button{
        padding: 14px 28px;
        background-color: var(--theam-background-primary-color);
        border: none;
        border-radius: var(--radius);
        color: var(--theam-color-blue);
    }
}